<%
  set_meta_tags(
    title: @swatch.name,
    description: "Swatch with color fills",
    keywords: "design, colors",
    og: {
      title: @swatch.name,
      type: "website",
      url: params[:project_id] ? project_swatch_url(@swatch.project, @swatch) : swatch_url(@swatch)
    }
  )
%>

<% content_for :breadcrumbs do %>
  <% if params[:project_id] %>
    <% project = Project.find(params[:project_id]) %>

    <%= link_to "Проекты", my_projects_path %>
    /
    <%= link_to project.name, project %>
    /
    <%= link_to @swatch.name, project_swatch_path(project, @swatch) %>
  <% else %>
    <%= link_to "Палитры", swatches_path %>
    /
    <%= link_to @swatch.name, @swatch %>
  <% end %>
<% end %>

<p style="color: green"><%= notice %></p>

<%= render @swatch %>

<div>
  <%= link_to "Edit this swatch", edit_swatch_path(@swatch) %> |
  <%= link_to "Back to swatches", swatches_path %>
  <%= link_to "Destroy this swatch", @swatch, data: { turbo_stream: false, turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>

<%= render "comments/comments", commentable: @swatch %>
