<p style="color: red"><%= alert %></p>

<h1><%= t('hello') %></h1>

<h1>ADC Swatches</h1>
<p>Дом для ваших цветовых палитр</p>

<div id="new_subscription">
  <%= render "subscriptions/form" %>
</div>

<div class="T_WelcomeWidgets">
  <%= render partial: "components/S_PromoSwatchSlider", locals: { promo_swatches: @promo_swatches } %>
  <%= render partial: "components/S_PromoFillSlider", locals: { promo_fills: @promo_fills } %>
</div>
