<div id="<%= dom_id project %>">
  <h2><%= link_to project.name, project %></h2>
  <p><%= project.description %></p>
  <p><%= link_to "New swatch", new_project_swatch_path(project) %></p>

  <% project.swatches.each do |swatch| %>
    <%= render "projects/swatch", project: project, swatch: swatch %>
  <% end %>
</div>