<%
  set_meta_tags(
    title: @project.name,
    description: "Project with color swatches",
    keywords: "design, colors",
    og: {
      title: @project.name,
      type: "website",
      url: project_url(@project)
    }
  )
%>

<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>
  <%= link_to "Destroy this project", @project, data: { turbo_stream: false, turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
