<div id="<%= dom_id color %>">
  <p>
    <strong>Stop:</strong>
    <%= color.stop %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= color.color %>
  </p>

  <p>
    <strong>Alpha:</strong>
    <%= color.alpha %>
  </p>

  <p>
    <strong>Fill:</strong>
    <%= color.fill_id %>
  </p>

</div>
