<nav class="S_MenuBar">
  <div>
    <%= link_to "Главная", root_url %>
    <%= link_to "Проекты", projects_url %>
    <%= link_to "Палитры", swatches_url %>
    <%= link_to "Цвета", fills_url %>
  </div>

  <div>
    <%= link_to "О проекте", welcome_about_url %>
  </div>
</nav>